body {
    font-family: 'Arial', sans-serif;
    background-color: #cccccc;
    margin: 0;
    padding: 0;
}

#quiz-container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #ffcccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#registration-container, #quiz-questions, #result-container {
    text-align: center;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #blue;
}
